<a href="https://colab.research.google.com/github/SweekrutiSingh19/OOP-Lab/blob/main/Sweekruti_20BCS124_OOPTask1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Problem-I

In [ ]:
def is_leap(year):
    if year%4==0 and year%100!=0:
        return True
    if year%400==0:
        return True
    return False

year = int(input())
print(is_leap(year))

2021
False

Problem-II

In [ ]:
n = int(input(""))

if n%2==1:
    print("Weird")
elif n%2==0 and n in range(3, 6):
    print("Not Weird")
elif n%2==0 and n in range(6, 21):
    print("Weird")
elif n%2==0 and n>20:
    print("Not Weird")

9
Weird

Problem-III

In [ ]:
def fashionably_late(arrivals, name):
    """Arrivals = ['Hardik', 'Rahul', 'Virat', 'Rishabh’, ‘Mahi’ 'Rohit', 'Rahane']
    """
    name_index=arrivals.index(name)
    final_index_of_list=arrivals.index((len(arrivals)-1))
    print(final_index_of_list)
    if final_index_of_list%2==0:
        return False if name_index<=(final_index_of_list/2) or name_index==final_index_of_list else True
    elif final_index_of_list%2>0:
        return False if name_index<=(final_index_of_list/2+1) or name_index==final_index_of_list else True
        

print(fashionably_late(['Hardik', 'Rahul', 'Virat', 'Rishabh', 'Mahi', 'Rohit', 'Rahane'], "Mahi"))

Problem-IV

In [ ]:
def word_search_2(title_list, keyword):
    keyword = keyword.lower().strip('.,')

    result_list = []
    for i, title in enumerate(title_list):
        words = title.lower().strip('.,').split()

        if keyword in words:
            result_list.append((i, title))

    return result_list

if __name__ == '__main__':
    docs = [
        "The Learn Python Challenge Rohit.",
        "They bought a car",
        "bangalore",
    ]
    w = 'car'

    print(word_search_2(docs, w))

[(1, 'They bought a car')]

Problem-V

In [ ]:
def computeSalary( basic):
	
	hra = 0.2 * basic
	da = 0.4 * basic

	gross = round(basic + da + hra)
					
	return gross

if __name__ == '__main__':
	
	basic = 10000

	print(computeSalary(basic));

16000